
/* Add your CSS styles here */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}
.logo{
  height:30px;
  width:50px;

 }

header {
  background-color: #66cdaa;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

.section {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#home {
  background-image: url("images/home.jpg");
  opacity: 0.9;
  height: 500px;

}
.displays{
  align-items: center;
  justify-content: center;
  padding-left: 500px;
  margin-top:250px;
}
.btn{
  background-color: #66cdaa;
  height: 50px;
  width: 200px;
  padding: 5px;
  font-weight: 500;
  font-size: 18px;
  border-radius: 10px;
  border: none;
}

#about {
  background-color: #66cdaa;
  

}

#team {
  background-image: url("images/about.jpg");
  opacity: 0.9;

}

#products {
  background-image: url("images/product.jpg");
  opacity: 0.9;

}

#survey {
  

}
.about-info{
  display: flex;

}
.about-img{
  width: 700px;
  height: 500px;
  padding: 20px;
  border-radius: 30px;
}

.our-team{
  display: flex;
}
.team-img{
  height: 100px;
  width: 100px;
  border-radius: 15px;
}
#team h3{
  color: #66cdaa;
}
#products p{
  font-style: italic;
}
#products h3{
  color: #66cdaa;
}

#survey h3{
  color: #66cdaa;
}


.team-member{
  background-color: white;
  margin: 10px;
  width: 300px;
  padding: 10px;
  align-items: center;
}

.productz{
  display: flex;
}
.pro{
  width: 350px;
}
.pro img{
  width: 280px;
}
h2 {
  margin-top: 0;
}

label {
  display: inline-block;
  width: 100px;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: #66cdaa;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
nav{
  display: flex;
  align-content: space-between;
}
footer {
  background-color: #66cdaa;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #f2f2f2;
  padding: 10px;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
}

nav ul li a:hover {
  background-color: #66cdaa;
  color: #fff;
}
